# TODO discuss whether we want to enable modernize-avoid-bind, readability-implicit-bool-conversion, and readability-magic-numbers

FormatStyle: file

Checks: '
-*,
bugprone*,
cppcoreguidelines*
google*,
llvm*,
misc*,
modernize*,
readability*,
-modernize-avoid-bind,
-modernize-use-trailing-return-type,
-readability-implicit-bool-conversion,
'

WarningsAsErrors: '*'

