name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  check:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        sudo snap install shfmt
        sudo apt update && sudo apt install clang-format
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Check
      run: make check

  super-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Lint Code Base
      uses: docker://github/super-linter:v4.6.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        VALIDATE_BASH: false # Already configured in make check
        VALIDATE_CPP: false
        VALIDATE_DOCKERFILE_HADOLINT: false
        VALIDATE_GITHUB_ACTIONS: false
        VALIDATE_PYTHON_FLAKE8: false  # Already configured in make check
        VALIDATE_PYTHON_PYLINT: false  # Already configured in make check
        VALIDATE_PYTHON_ISORT: false

  ros:
    runs-on: ubuntu-latest
    container:
      image: ros:noetic-robot
      env:
        DEBIAN_FRONTEND: noninteractive
    steps:
    - uses: actions/checkout@v2
    - name: Setup
      shell: bash
      run: |
        sudo apt-get update
        sudo apt-get install -y python3-catkin-tools python3-osrf-pycommon
        $GITHUB_WORKSPACE/install.sh
    - name: Init Workspace
      run: |
        mkdir -p $GITHUB_WORKSPACE/../catkin_ws/src
        cd $GITHUB_WORKSPACE/../catkin_ws/src
        ln -s $GITHUB_WORKSPACE
        cd ..
        catkin init
    - name: Build and Check
      shell: bash
      run: |
        source /opt/ros/noetic/setup.bash
        cd $GITHUB_WORKSPACE/../catkin_ws
        catkin build --summarize --no-status --force-color --cmake-args -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DCMAKE_CXX_CLANG_TIDY=clang-tidy-10
    - name: Test
      shell: bash
      run: |
        source /opt/ros/noetic/setup.bash
        cd $GITHUB_WORKSPACE/../catkin_ws
        catkin run_tests --no-status --force-color && catkin_test_results
